* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav
{
    display: grid;
    grid-row: auto;
    width: 100%;
    background-color: #000000;
    height: 2rem; 
    grid-template-areas: " logo redes";
}


.link-logo
{

    color: white;
    font-size: 20px;
    width: 100%;
    grid-area: logo;
    text-align: center;
    }

!// remover item abaixo!////// 
[]

.redes-sociais ul li i
 {
    width: 100%;
    size: 15px;
    padding: 0px;
    grid-area: redes;
    align-items: center;
 }
    