* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#body {
    display: grid;
    grid-template-areas: "logo menu""footer ";
}

footer
{
    width: 100%;
    background-color: #000000;
}

.footer-logo
{
    grid-area: ;
    
}


.link-logo
{

    color: white;
    font-size: 20px;
    
    grid-area: logo;

    align-self: center;

    text-align: center;

    }

.redes
 {
    grid-area: footer;
    align-self: center;
    text-align: center;
    font-size: 16px;
    
 }

 .redes ul li {
     list-style: none;

 }

 .redes img {
    max-width:3em;
    max: height 3em;
    width: auto;
    height: auto;
 }


 a {
     align-items: center;
    
     
    
 }